* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: 'TitleFont';
    src: url('./fonts/Pacifico-Regular.ttf');
}

body {
    background-image: url(img/pexels-yura-forrat-12012847.jpg);
    background-color: #222;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px 200px;
    height: calc(25vh - 40px);
    width: calc(100vw - 400px);
    background-image: linear-gradient(rgba(45, 45, 45, 0.5), rgba(45, 45, 45, 0.9));
    border: 4px solid #222;
    border-radius: 8px;
}

h1 {
    font-family: 'TitleFont';
    font-size: 76px;
    color: rgb(197, 123, 32);
    text-shadow: 1px 1px 1px #222;
    animation: candlelight 1s linear infinite;
}

@keyframes candlelight {
    0% {
        color: rgb(197, 123, 32);
    }
    20% {
        color: rgb(194, 115, 19);    
    }
    40% {
        color: rgb(183, 104, 8); 
    }
    60% {
        color: rgb(177, 113, 36); 
    }
    80% {
        color: rgb(194, 115, 19);    
    }

}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 5vw;
    font-size: 18px;
    list-style: none;
    text-align: center;

    background-color: rgba(143, 160, 183, 0.8);
    border: 1px solid #222;
    border-radius: 8px;
    padding: 4px;
    width: 150px;
}

li:hover {
    background-color: rgba(197, 123, 32, 0.8);
}

li:active {
    background-color: rgba(197, 123, 32, 0.9);
}



.content {
    height: 70vh;
    width: 100vw;
}



footer {
    position: absolute;
    bottom: 0px;

    background-image: linear-gradient(rgba(45, 45, 45, 0.5), rgba(45, 45, 45, 0.9));
    color: rgba(143, 160, 183, 0.8);
    width: 100vw;
    padding: 5px 20px;
    text-align: center;
}

small {
    transition: all 0.2s ease-in-out;
}

small:hover {
    cursor: pointer;
    color: rgba(143, 160, 183, 1);
    font-size: 14px;
}